fastapi==0.115.3
google-auth==2.35.0
pydantic-settings==2.6.0
python-dotenv
requests==2.32.3
uvicorn==0.32.0
google-auth==2.35.0
mysql-connector-python==9.0.0
python-dotenv
sqlalchemy
sqlmodel
celery[redis]
python-multipart