@use '../css/colors' as colors;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: colors.$white;
  background: colors.$bg;
  font-family: var(--font-geist-sans);
}

::selection {
  color: colors.$bg;
  background-color: colors.$primary;
}
