<ng-template #eventFinishedTemplate>
    <h3>Next event has already finished. Predictions are closed until next event is available.</h3>
</ng-template>


<div *ngIf="!eventFinished; else eventFinishedTemplate">
    <h3>Drivers of the next race</h3>
    <h4>{{ race?.race_name }} - {{ race?.race_date | date }}</h4>

    <div class="lists-container">
        <div 
            cdkDropList 
            class="driver-list"
            #driverList="cdkDropList"
            [cdkDropListData]="drivers"
            [cdkDropListConnectedTo]="[predictionList]"
            (cdkDropListDropped)="drop($event)">
            <div *ngFor="let driver of drivers; let i = index" class="driver-box" cdkDrag>
                <span class="driver-name">{{ driver.driver_name }}</span>
                &nbsp;
                <span class="team">{{ driver.team }}</span>
            </div>
        </div>
        <div
            cdkDropList
            class="driver-list"
            #predictionList="cdkDropList"
            [cdkDropListData]="prediction"
            [cdkDropListConnectedTo]="[driverList]"
            (cdkDropListDropped)="dropBack($event)">
            <div *ngFor="let driver of prediction; let i = index" class="driver-box" cdkDrag>
                <span class="driver-name">{{ driver.driver_name }}</span>
                &nbsp;
                <span class="team">{{ driver.team }}</span>
        </div>
    </div>
        <button (click)="submitPrediction()" [disabled]="prediction.length < 3">Submit Prediction</button>
</div>